<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<title>{% block title %}Anti-MP :: find your nemesis{% endblock %}</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{#<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">#}
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
</head>
<body>
<div class=container>
  {% block body_title %}
    <h1><span>{{ self.title() }}</span></h1>
  {% endblock %}
  <p class=nav>
    <a href="{{ url_for('home') }}">Overview</a> //
    <a href="{{ url_for('check') }}">Check</a> //
  {% for message in get_flashed_messages() %}
      <p class=message>{{ message }}</p>
  {% endfor %}
  {% block body %}
  <div id="main-text">
  <p>Here you can find out who your real nemesis is!
      Just <a href="{{ url_for('check') }}">fill in the form</a> and see for yourself.</p>
  </div>
  {% endblock %}
  <p class=footer>
    &copy; Copyright 2017 - {{ current_year }} by Adam Wilson
  </p>
</div>
</body>
</html>